h1 {
    background: #1cee2d;
    color: red;
    height: 200px;
    width: 200px;
    display: inline;
    margin: 100px;
    padding: 10px;
    
  }
  a {
    background: red;
    height: 200px;
    width: 200px;
    display: block;
  }
.cajita{
    background: blue;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 20px solid blueviolet;
    margin: 30px;
    outline: 10px solid green;
}  

/*margin y padding 5*/
/*padding*/
.box1{
  height: 200px;
  width: 200px;
  background: blueviolet;
  border: 20px solid red;
  padding: 10px 20px;
}
/*margin*/
.box2{
  height: 200px;
  width: 200px;
  background: yellow;
  border: 20px solid red;
  margin: 20px 10px;
}

/*border*/
[class*="box"]{
  width: 250px;
  height: 250px;
  margin: 30px;
}

.box3{
  background: greenyellow;
  border-width: 20px 30px 10px 15px;

  border-top-style:solid;
  border-bottom-style:dotted;
  border-right-style:groove;
  border-left-style:dashed;

  border-top-color: :black;
  border-bottom-color:yellow;
  border-right-color:red;
  border-left-color:purple;
}

.box4{
  background: silver;
  border:10px dotted blue;
}
.box5{
  background: silver;
  border:10px double   blue;
}
.box6{
  background: silver;
  border:10px ridge blue;
}
.box7{
  background: silver;
  border:10px inset blue;
}
.box8{
  background: silver;
  border:10px outset blue;
}
.box9{
  background: silver;
  border:10px inherit blue;
}

/*outline*/

[class*= outline]{
  width: 250px;
  height: 250px;
  margin: 40px;
}
.outline1{
  background: gold;
  border: 20px solid violet;
  outline: thick groove brown;
  outline-offset: 20px;
}
.outline2{
  background: cadetblue;
  border: 20px solid yellow; 
  margin-top: 100px;
  outline-width: 20px;
  outline-style: dashed ;
  outline-color: skyblue;
  outline-offset: 15px;
}

/*position : el espacio que ocupa en el documento html*/

 [class*=position]{
  height: 250px;
  width: 250px;
  margin:100px;
  font-size: center;
 }
 .position1{
  background: green;
  position: relative;
  right: 100px;
  top: 100px∫;

 }




/************/



/* fondo*/
html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}